/*------------zero------------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color:black}
a:hover{text-decoration: none;}
a:active{color:black}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*------------tag------------*/
main {
	display: flex;
	justify-content: center;
	flex: 1 1 auto;
	width: 100%;
}
footer {
	display: flex;
	justify-content: center;
	vertical-align: bottom;
	height: 140px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	width: 100%;
	margin-top: 30px;
}
/*------------body------------*/
.box {
	width: 1100px;
	padding: 0 40px;
	/*background: red;*/
}
.body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
.foot__line {
	margin: 5px 0;
	border-bottom: 3px solid black;
	width: 50px;
}
/*------------header------------*/
.header {
	position: fixed;
	display: flex;
	justify-content: center;
	height: 70px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	width: 100%;
	background: #fff;
	z-index: 50;
}
.header_scroll {
	position: fixed;
	left: 0;
	top: 0;
}
.header__menu {
	display: flex;
	justify-content: space-between;
	vertical-align: center;
	height: 100%;
}
.menu__burger {
	display: none;
}
.menu__burger_profile {
	display: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.menu__burger_basket {
	display: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.menu__midl__link_mobile {
	display: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.menu_left {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.menu__midl {
	display: flex;
	flex-wrap: nowrap;
	width: 400px;
	margin-left: -200px;
}
.menu__midl_black {
	display: none;
}
.menu__list {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.menu__list>li:hover .menu__midl__block {
	display: block;
	transition: opacity 0.3s .1s;
	opacity: 1;
}
.menu__midl__block {
	position: absolute;
	width: var(--full-width);
	height: 600px;
	padding: 20px 40px 0;
	top: 70px;
	left: -126px;
	background: white;
	display: none;
	opacity: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 1);
}

.menu__list li {
	width: 100px;
	padding: 0 20px;
}
.menu__midl__link {
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	align-items: center;
	height: 70px;
}
.menu__midl__link:hover {
	transition: color 0.3s;
	color: rgba(0, 0, 0, 0.5);
}
.menu_right {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 110px;
}
.menu_space {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100px;
}
.menu__text {
	display: flex;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 200;
}
.menu__text__name {
	font-weight: 600;
}
.menu__basket {
	display: flex;
	align-items: center;
	text-align: center;
}
.menu__profile {
	display: flex;
	align-items: center;
	text-align: center;
}
.menu__image {
	width: 40px;
	height: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	font-weight: 200;
}
/*------------main------------*/
.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 100px;
}
.main__top2 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	height: 700px;
}
.main__top2_block {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: left;
}
.main__top2__img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 600px;
	overflow: hidden;
}
.main__top2__textBlock {
	padding: 0 20px;
}
.main__top2_name {
	margin-top: 30px;
	font-family: 'Hind Madurai', sans-serif;
	font-weight: 400;
	font-size: 24px;
}
.main__top2__look:hover {
	transition: color 0.5s;
	color: rgba(0, 0, 0, 0.8);
}
.main__top2_link {
	display: block;
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
}
.main__line {
	margin-top: 2px;
	border-bottom: 1px solid black;
	width: 90px;
}
.main__popular__box__card_name {
	font-weight: 400;
	font-size: 18px;
}
.main__popular__box__card_desc {
	font-weight: 200;
	font-size: 12px;
}
.main__popular__box__card_cost {
	font-weight: 400;
	font-size: 16px;
}
.main__popular {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	min-width: 0;
}
.main__popular_text {
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 30px;
}
.slider {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.main__popular__box__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background: rgba(243, 243, 243, 0.5);
	width: 240px;
	height: 450px;
	font-family: 'Montserrat', sans-serif;
}
.main__popular__box__card:hover {
	transition: background 0.5s;
	background: rgba(243, 243, 243, 1);
}
.main__popular__box__card__img {
	width: 200px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.main__popular__control {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 400px;
}
.main__popular__dots {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100px;
}
.main__popular__control_prev {
	width: 40px;
	height: 40px;
	background: url('../img/slider_last.png') 0 0 / 100% no-repeat;
}
.main__popular__control_next {
	width: 40px;
	height: 40px;
	background: url('../img/slider_next.png') 0 0 / 100% no-repeat;
}
.main__new {
	margin-top: 30px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.main__new__img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	height: 500px;
	overflow: hidden;
}
.main__new__text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	width: 250px;
	height: 150px;
}
.main__new__text_top {
	font-weight: 400;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
}
.main__new__text_top:hover {
	transition: color 0.5s;
	color: rgba(0, 0, 0, 1);
}
.main__new__text_ds {
	margin-top: -10px;
}
.main__new__text_summer {
	font-weight: 600;
	font-size: 24px;
}
.main__new__text_desc {
	font-weight: 300;
	font-size: 14px;
}
.main__new__look:hover {
	transition: color 0.5s;
	color: rgba(0, 0, 0, 0.8);
}
.main__new_link {
	display: block;
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
}
.main__3cat {
	margin-top: 40px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
}
.main__3cat__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 350px;
	height: 550px;
}
.main__3cat__item_img {
	width: 300px;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.main__3cat__item__text {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 290px;
	height: 190px;
	font-family: 'Montserrat', sans-serif;
}.main__3cat {
	 margin-top: 40px;
	 width: 100%;
	 display: flex;
	 justify-content: space-between;
	 flex-direction: row;
	 flex-wrap: nowrap;
 }
.main__3cat__item__text_cp {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main__3cat__item__text_cat {
	font-weight: 400;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.6);
}
.main__3cat__item__text_cat:hover {
	transition: color 0.5s;
	color: rgba(0, 0, 0, 1);
}
.main__3cat__item__text_prod {
	font-weight: 600;
	font-size: 20px;
}
.main__3cat__item__text_look:hover {
	transition: color 0.5s;
	color: rgba(0, 0, 0, 0.8);
}
.main__3cat_link {
	display: block;
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
}
.main__line_bigger {
	margin-top: 2px;
	border-bottom: 1px solid black;
	width: 123px;
}
.main__news {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	min-width: 0;
}
.main__news_text {
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 30px;
}
.slider_news {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.main__news__box__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background: rgba(243, 243, 243, 0.5);
	width: 240px;
	height: 450px;
	font-family: 'Montserrat', sans-serif;
}
.main__news__box__card:hover {
	transition: background 0.5s;
	background: rgba(243, 243, 243, 1);
}
.main__news__box__card__img {
	width: 200px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.main__news__control {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 400px;
}
.main__news__dots {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100px;
}
.main__news__control_prev {
	width: 40px;
	height: 40px;
	background: url('../img/slider_last.png') 0 0 / 100% no-repeat;
}
.main__news__control_next {
	width: 40px;
	height: 40px;
	background: url('../img/slider_next.png') 0 0 / 100% no-repeat;
}
/*------------footer------------*/
.foot {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}
.foot__social {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.foot__text {
	font-family: 'Hind Madurai', sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.foot__link {
	margin-top: 1px;
	font-family: 'Hind Madurai', sans-serif;
	font-size: 18px;
	font-weight: 500;
}
.foot a:hover {
	text-decoration: underline;
}
/*------------adaptive------------*/
/*1100 -> 970 (130)*/
@media (max-width: 1200px) {
	.box {
		width: 970px;
	}
	.main__top2__img {
		width: 435px;
		height: 522px;
	}
	.main__popular__box__card {
		width: 200px;
		height: 380px;
	}
	.main__popular__box__card__img {
		width: 160px;
		height: 230px;
	}
	.main__popular {
		margin-top: -78px;
	}
	.main__popular__control {
		margin-top: -20px;
	}
	.main__new__img {
		width: 600px;
		height: 400px;
	}
	.main__new__text {
		width: 250px;
		height: 150px;
	}
	.main__3cat__item {
		width: 300px;
		height: 500px;
	}
	.main__3cat__item_img {
		width: 270px;
		height: 350px;
	}
	.main__news__box__card {
		width: 200px;
		height: 380px;
	}
	.main__news__box__card__img {
		width: 160px;
		height: 230px;
	}
	.main__news__control {
		margin-top: -20px;
	}
}
/*970 -> 750 (220)*/
@media (max-width: 992px) {
	.box {
		width: 750px;
	}
	.main__top2__img {
		width: 325px;
		height: 390px;
	}
	.main__popular__box__card {
		width: 160px;
		height: 280px;
	}
	.main__popular__box__card__img {
		width: 120px;
		height: 210px;
	}
	.main__popular {
		margin-top: -200px;
	}
	.main__popular__control {
		margin-top: -120px;
	}
	.menu_right {
		width: 150px;
	}
	.main__new__img {
		width: 400px;
		height: 300px;
	}
	.main__new__text {
		width: 250px;
		height: 150px;
	}
	.main__3cat__item {
		width: 200px;
		height: 400px;
	}
	.main__3cat__item_img {
		width: 200px;
		height: 300px;
	}
	.main__news__box__card {
		 width: 160px;
		 height: 280px;
	 }
	.main__news__box__card__img {
		width: 120px;
		height: 210px;
	}
	.main__news__control {
		margin-top: -120px;
	}
}
/*lol*/
/*mobile*/
/*+mega-burger*/
@media (max-width: 768px) {
	.box {
		width: 400px;
		padding: 0 20px;
	}
	body .box {
		align-items: center;
	}
	.wrapper {
		width: 100%;
	}
	.wrapper_news {
		width: 100%;
	}
	.slider {
		justify-content: space-evenly;
		width: 350px;
	}
	.slider_news {
		justify-content: space-evenly;
		width: 350px;
	}
	.main__top2 {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.main__top2__img {
		width: 340px;
		margin-top: 30px;
	}
	.main__popular {
		margin-top: 300px;
		margin-left: 11px;
		width: 330px;
	}
	.main__popular_text {
		text-align: center;
	}
	.main__popular__control {
		margin-top: -130px;
		justify-content: space-around;
		width: 100px;
	}
	.main__popular__control_prev {
		display: none;
		width: 0;
	}
	.main__popular__control_next {
		display: none;
		width: 0;
	}
	.main {
		margin-top: 50px;
	}
	.menu_right {
		display: none;
	}
	.menu_space {
		display: none;
	}
	.menu__burger_profile {
		display: block;
		z-index: 4;
	}
	.menu__burger_basket {
		display: block;
		z-index: 4;
	}
	.menu__midl__link_mobile {
		display: block;
		z-index: 4;
	}
	.menu_left {
		margin: 0 auto;
		z-index: 5;
	}
	.menu__midl {
		display: block;
		position: fixed;
		top: 0;
		margin-left: 0;
		left: -100%;
		width: 50%;
		height: 100%;
		transition: all 0.3s ease 0s;
		background: rgba(255, 255, 255, 0.9);
		padding: 70px 0 0 0;
	}
	.menu__midl_black {
		display: block;
		position: fixed;
		top: 0;
		margin-top: 50px;
		right: -100%;
		width: 50%;
		height: 100%;
		transition: all 0.3s ease 0s;
		background: rgba(0, 0, 0, 0.5);
		padding: 70px 0 0 0;
	}
	.menu__list {
		display: block;
		padding-left: 10px;
	}
	.menu__list li {
		margin-bottom: 20px;
	}
	.header {
		height: 50px;
		z-index: 50;
	}
	.header:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 4;
	}
	.menu__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 5;
	}
	.menu__burger:before, .menu__burger:after {
		content: '';
		background: rgb(0, 0, 0);
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.menu__burger span {
		content: '';
		background: rgb(0, 0, 0);
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		margin-top: 23px;
		transition: all 0.3s ease 0s;
	}
	.menu__midl.active {
		left: 0;
	}
	.menu__burger.active:before {
		transform: rotate(45deg);
		top: 23px;
	}
	.menu__burger.active:after {
		transform: rotate(-45deg);
		bottom: -5px;
	}
	.menu__burger.active span {
		transform: scale(0);
	}
	.menu__midl_black.active {
		right: 0;
	}
	.menu__burger:before {
		top: 14px;
	}
	.menu__burger:after {
		bottom: -14px;
	}
	body.lock {
		overflow: hidden;
	}
	.menu__midl__link_mobile:hover, .menu__burger_basket:hover, .menu__burger_profile:hover {
		transition: color 0.3s;
		color: rgba(0, 0, 0, 0.5);
	}
	.main__new {
		flex-direction: column;
		align-items: center;
	}
	.main__new__img {
		width: 340px;
		height: 200px;
	}
	.main__new__text_top {
		margin-top: -30px;
	}
	.main__new__text {
		justify-content: center;
		padding-left: 0;
		width: 300px;
		height: 150px;
	}
	.main__3cat {
		flex-direction: column;
		align-items: center;
		margin-top: -15px;
	}
	.main__3cat__item {
		width: 340px;
		height: 550px;
		margin-top: 20px;
	}
	.main__3cat__item_img {
		width: 340px;
		height: 500px;
	}
	.main__news {
		margin-left: 11px;
		width: 330px;
	}
	.main__news_text {
		text-align: center;
	}
	.main__news__control {
		margin-top: -130px;
		justify-content: space-around;
		width: 100px;
	}
	.main__news__control_prev {
		display: none;
		width: 0;
	}
	.main__news__control_next {
		display: none;
		width: 0;
	}
}