/*------------zero------------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color:black}
a:hover{text-decoration: none;}
a:active{color:black}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*------------tag------------*/
main {
	display: flex;
	justify-content: center;
	flex: 1 1 auto;
	width: 100%;
}
footer {
	display: flex;
	justify-content: center;
	vertical-align: bottom;
	height: 140px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	width: 100%;
	margin-top: 20px;
}
/*------------body------------*/
.box {
	width: 1100px;
	padding: 0 40px;
	/*background: red;*/
}
.body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
.foot__line {
	margin: 5px 0;
	border-bottom: 3px solid black;
	width: 50px;
}
/*------------header------------*/
.header {
	display: flex;
	justify-content: center;
	height: 70px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	width: 100%;
	background: #fff;
	z-index: 100;
}
.header_scroll {
	position: fixed;
	left: 0;
	top: 0;
}
.header__menu {
	display: flex;
	justify-content: space-between;
	vertical-align: center;
	height: 100%;
}
.menu_left {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.menu__midl {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 400px;
}
.menu__midl__cat {
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	align-items: center;
}
.menu__midl__cat:hover {
	transition: color 0.3s;
	color: rgba(0, 0, 0, 0.5);
}
.menu_right {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100px;
}
.menu_space {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100px;
}
.menu__text {
	display: flex;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 200;
}
.menu__text__name {
	font-weight: 600;
}
.menu__basket {
	display: flex;
	align-items: center;
	text-align: center;
}
.menu__profile {
	display: flex;
	align-items: center;
	text-align: center;
}
.menu__image {
	width: 40px;
	height: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	font-weight: 200;
}
/*------------main------------*/
.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 30px;
}
.main__top2 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 700px;
}
.main__top2_block {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: left;
}
.main__top2__img_first {
	width: 500px;
	height: 600px;
	background: url('../imgProd/mainTop1.jpg') center no-repeat scroll;
}
.main__top2__img_second {
	width: 500px;
	height: 600px;
	background: url('../imgProd/mainTop2.jpg') center no-repeat scroll;
}
.main__top2__textBlock {
	padding: 0 20px;
}
.main__top2_name {
	margin-top: 30px;
	font-family: 'Hind Madurai', sans-serif;
	font-weight: 400;
	font-size: 24px;
}
.main__top2__look:hover {
	transition: color 0.5s;
	color: rgba(0, 0, 0, 0.8);
}
.main__top2_link {
	display: block;
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
}
.main__line {
	margin-top: 2px;
	border-bottom: 1px solid black;
	width: 90px;
}
.main__popular {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	min-width: 0;
}
.main__popular_text {
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 30px;
}
.main__popular__box {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.main__popular__box__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background: rgba(243, 243, 243, 0.5);
	width: 240px;
	height: 450px;
	font-family: 'Montserrat', sans-serif;
}
.main__popular__box__card:hover {
	transition: background 0.5s;
	background: rgba(243, 243, 243, 1);
}
.main__popular__box__card__img_1 {
	width: 200px;
	height: 300px;
	background: url('../imgProd/mainPopular1.jpg') center no-repeat scroll;
}
.main__popular__box__card__img_2 {
	width: 200px;
	height: 300px;
	background: url('../imgProd/mainPopular2.jpg') center no-repeat scroll;
}
.main__popular__box__card__img_3 {
	width: 200px;
	height: 300px;
	background: url('../imgProd/mainPopular3.jpg') center no-repeat scroll;
}
.main__popular__box__card__img_4 {
	width: 200px;
	height: 300px;
	background: url('../imgProd/mainPopular4.jpg') center no-repeat scroll;
}
.main__popular__box__card__img_5 {
	width: 200px;
	height: 300px;
	background: url('../imgProd/mainPopular5.jpg') center no-repeat scroll;
}
.main__popular__box__card__img_6 {
	width: 200px;
	height: 300px;
	background: url('../imgProd/mainPopular6.jpg') center no-repeat scroll;
}
.main__popular__box__card__img_7 {
	width: 200px;
	height: 300px;
	background: url('../imgProd/mainPopular7.jpg') center no-repeat scroll;
}
.main__popular__box__card__img_8 {
	width: 200px;
	height: 300px;
	background: url('../imgProd/mainPopular8.jpg') center no-repeat scroll;
}
.main__popular__box__card__img_9 {
	width: 200px;
	height: 300px;
	background: url('../imgProd/mainPopular9.jpg') center no-repeat scroll;
}
.main__popular__box__card__img_10 {
	width: 200px;
	height: 300px;
	background: url('../imgProd/mainPopular10.jpg') center no-repeat scroll;
}
.main__popular__box__card__img_11 {
	width: 200px;
	height: 300px;
	background: url('../imgProd/mainPopular11.jpg') center no-repeat scroll;
}
.main__popular__box__card__img_12 {
	width: 200px;
	height: 300px;
	background: url('../imgProd/mainPopular12.jpg') center no-repeat scroll;
}
.main__popular__box__card_name {
	font-weight: 400;
	font-size: 18px;
}
.main__popular__box__card_desc {
	font-weight: 200;
	font-size: 14px;
}
.main__popular__box__card_cost {
	font-weight: 400;
	font-size: 16px;
}
.main__popular__control {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 400px;
}
.main__popular__dots {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100px;
}
.main__popular__control_prev {
	width: 40px;
	height: 40px;
	background: url('../img/slider_last.png') 0 0 / 100% no-repeat;
}
.main__popular__control_next {
	width: 40px;
	height: 40px;
	background: url('../img/slider_next.png') 0 0 / 100% no-repeat;
}
/*------------footer------------*/
.foot {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}
.foot__social {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.foot__text {
	font-family: 'Hind Madurai', sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.foot__link {
	margin-top: 1px;
	font-family: 'Hind Madurai', sans-serif;
	font-size: 18px;
	font-weight: 500;
}
.foot a:hover {
	text-decoration: underline;
}